* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.mainAppContainer {
  width: 100%;
  height: auto;
  position: relative;
  scroll-behavior: smooth;
}

#bg-gradient-img {
  height: 300vh;
  position: absolute;
  width: 100%;
}

#bg-vector-img {
  height: 300vh;
  position: absolute;
  width: 100%;
}

.pages-container {
  position: absolute;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
