@import "../../Settings/values.scss";

.aboutPageContainer {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: $primaryColor;
}

.aboutPageInformationCardContainer {
  width: 30%;
}

.aboutPageInformationCardContainer p {
  color: $colorWhite;
  font-family: $secondaryFontFamily;
}

#informationCardHeader {
  font-size: 30px;
}

.aboutPageIllustrationContainer {
  height: auto;
  width: 30%;
}

.aboutPageIllustrationContainer img {
  width: 100%;
}
