/* Color scheme */
$primaryColor: #f45b49;
$secondaryColor: #1c2628;
$colorWhite: #ffffff;
/* Text scheme */
$primaryFontSize: 15px;
$secondaryFontSize: 12px;
$primaryFont: "DM Sans", sans-serif;
$secondaryFontFamily: "DM Serif Text", serif;
